//General Styling Classes
//Icon Font Variables
$icomoon-font-path: "/public/fonts";

$soc-icon-google-plus: "\ea8b";
$soc-icon-google-plus2: "\ea8c";
$soc-icon-facebook: "\ea90";
$soc-icon-facebook2: "\ea91";
$soc-icon-instagram: "\ea92";
$soc-icon-twitter: "\ea96";
$soc-icon-pinterest: "\ead1";
$soc-icon-pinterest2: "\ead2";

//Loader Variables
$loader-size: 75px;
$loader-color: #2566ce;